<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <div id="root">
    
    <h1>All Tasks</h1>
      <ul>
        <li v-for="task in tasks">{{ task.description }}<input type="checkbox" v-model="task.completed" ></li>
      </ul>
    <h2>Tasks To Do</h2>
      <ul>
        <li v-for="task in tasks" v-if="!task.completed" v-text="task.description"></li>
      </ul>

    <h2>Completed Tasks</h2>
      <ul>
        <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
      </ul>

  </div>
	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>


    let app = new Vue({
      el: '#root',
      data: {
        tasks: [
          {description: "Buy new clothes", completed: true },
          {description: "Go to the shops", completed: false },
          {description: "Change the car", completed: false },
          {description: "Cook dinner", completed: false },
          {description: "Change nappies", completed: false },
        ]
      },

      computed: {

      }
    });

  </script>
</body>
</html>